
.slideshow {
	margin-top: -101px;
	z-index: 0;
}

.carousel { 
	.item {
		height: 595px;
		background-repeat: no-repeat; 
		background-position: center center; 
		background-size: 100%;
	}
	.carousel-control {
		height: 75%;
	}
	.caption {
		background-color: rgba(255,255,255,0.6);
		width: 80%;
		position: absolute;
		top: 60%;
		color: $moodyblue;
		font-weight: 700;
		font-size: 1 em;
		text-transform: uppercase;

		.contain {
			width: 90%;
			float: right;
			margin-right: 35px;
			padding: 10px;
		}
		
		.italics {
			text-transform: lowercase;
			font-weight: 300;
			font-style: italic;
		}
	}

	.text {
		width: 450px;
		font-size: 2.1em;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1.5em;

		i {
			text-transform: lowercase;
			font-weight: 300;
		}
	}
}
.thumbnail-container {
	height: 200px;
	background-image: url('../images/background-texture.jpg');

	.thumbnail-caption {
		font-size: .7em;
		font-style: italic;
		padding-top: 125px;
	}
}

.carousel-indicators {
	top: 635px;
	width: 100%;
	margin-left: -50%;
	left: 48%;
	
	li {
		display: inline-block;
		height: 115px;
		margin: 0px;
		text-indent: 0px;
		cursor: pointer;
		background-color: transparent;
		border: 0px;
		border-radius: 0px;
		width: 166px;
		margin-left: 50px;
	
		&.active {
			width: 166px;
			height: 115px;
			background-color: $orange;
			border: solid 2px $orange;

		}
	}
	.carousel-thumbnail {
		width: 166px;
		height: 115px;
		margin: 0;
	}
	.carousel-control {
		height: 595px;
	}	

}
