.emory-wide ul li.top.search {
	z-index: 4;

	&:hover {
		z-index: 4;
	}
}
.emory-wide ul .nav-box #form-search .btn {
	height: 22px;
}

#mobile-search .input-group-addon .btn {
	background-color: transparent;
	font-size: 20px;
}

.search-scope {
	margin-left: 0;
}
#header {
	.header-hat {
		height: auto;
		background-color: #00257a;
		.logo {
			height: 40px;
		}
		.emory-wide {
			ul .nav-box #form-search .btn {
				height: 40px;
				border-radius: 0px;
			}
			ul li.top {
				&.search {
					padding-top: 0;
				}
				.nav-box.search {
					height: auto;
				}
			}

			input#q {
				border-radius: 0;
				height: 40px;
				border: none;
				background-color: #4070cb;
			}
		}
	}
}

.navbar {

	background-color: $white;
	border-radius: 0px;
	z-index: 2;

	a{
		text-transform: uppercase;
		color: $moodyblue;
		font-size: 11px;
	}
	.line-2 {
		font-weight: bold;
	}
	li {
		border-right: solid 1px #ccc;
		
		&:last-child{
			border-right: none;
		}
	}

}
.navbar-brand {
	float: left;
	padding: 10px 10px;
	font-size: 18px;
	line-height: 20px;
}

.navbar-default .navbar-nav>.active>a {
	background-color: $orange;
	color: $white;
}
