
/* CUSTOM STYLES FOR PULL QUOTES - MIKE JANUS */

.pull-quote {
	margin-left: -15px;
	margin-right: -15px;
	p {
		color:#045282;
	}
	img.pull-quote-image {
		width: 100%;
	}
	.pull-quote .pull-quote-right {
		color:#dd8726;
		padding:0 0 10px 10px;
		font-size:14px;
		margin:-6px 0 0 22px;
		font-weight:bold;	
	}
	.image-caption {
		color: #FFF;
		font-weight:normal;
		text-align:center;
		position:relative;top:-24px;right:0;
		background:#82ab45;
		padding:6px 0 7px 0;
		border-radius:0 0 5px 5px;
	}
	.quote_left {
		font-size:40px;position:relative;top:3px;left:-1px;font-weight:normal;
	}

	.quote_right {
		font-size:40px;position:relative;top:3px;left:4px;font-weight:normal;
	}
}

div.clearfix.page-content .pull-quote-right p em {
	font-size:18px;
	line-height:0;
}
