/* CUSTOM STYLES FOR RESOURCES */
.resource-section {
	border-bottom: solid 1px $light-grey;
	padding-bottom: 1em;
	.description {
		font-size: .8em;
		margin-bottom: 1em;
	}
	&:last-child {
		border-bottom: none;
	}
	ul {
		padding-left: 0;
		list-style: none;
		margin-left: -15px;
		li.resource {
			a {
				color: $moodyblue;
				padding: .5em;
				display: block;
				.fa {
					color: $grey;
					padding-right: .5em;
					display: table-cell;
				}
				.name {
					display: table-cell;
				}
				&:hover {
					text-decoration: none;
				// font-weight: bold;
			}
		}
		&:hover {
			background-color: $light-grey;
			a {
				text-decoration: none;
			}
		}
	}
	.resource-image {
		img {
			max-width: 100%;
		}
	}
	
}

<<<<<<< Updated upstream
}
.login-form {
	margin-top: 1em;
	input {
		width: 40%;
		margin-right: 1em;
		margin-left: 1em;
	}
	input[type="submit"] {
		background-color: $orange;
		color: white;
		text-transform: uppercase;
		font-weight: bold;
	}
	.resource {
		padding: .3em;
		a {
			color: $orange;
		}
		.fa {
			color: $moodyblue;
			padding-right: .5em;
		}
=======
/* CUSTOM STYLES FOR RESOURCE PAGES */

.resource {
	padding: .3em;
	a {
		color: $orange;
	}
	.fa {
		color: $moodyblue;
		padding-right: .5em;
>>>>>>> Stashed changes
	}
}
