%current-link {
	color: $white;
	text-transform: capitalize;
	font-weight: 200;
	// margin: 0px;
	list-style-type: none;
	font-size: .8em;
	background-image: none;
	// min-height: 70px;
	display: block;
}

#sub-nav {
	.equal-height & {
		height: 100%;

		ul {
			padding: 0;
			li {
			// background-color: $white;
			margin: 1em;
			// min-height: 90px;
			background-repeat: no-repeat;
			background-position: bottom right;
			font-weight: 200;
			//text-transform: uppercase;
			list-style-type: none;
			border-bottom: #ccc solid 1px;
			padding-bottom: 20px;
			text-align: right;
			a {
				color: $grey;
				padding-right: 10px;
				// padding: .5em 0em;
				&:hover {
					background-color: transparent;
					color: $grey;
					font-weight: 400;
				}
			}
			&.current a{
				color: $grey;
			}

			&.active {
				color: $green;
				background-color: $light-grey;
				a {
					color: $grey;
					// text-transform: capitalize;
					// font-weight: 400;
					// margin: 0px;
					// list-style-type: none;
					// font-size: .8em;
					// background-image: none;
					// min-height: 70px;
					// display: block;
					// margin-left: -20px;
					// margin-bottom: -20px;
				}

				.level3 {
					// margin-bottom: 30px;

					li {
						// background-color: $moodyblue;
						a { 
							@extend %current-link;
						}
					}
				}
			}

			&:hover {
				// background-color: $moodyblue;
				a {
					color: $grey;
					font-weight: 400;
				}

				.level3 {
					li {
						// background-color: $moodyblue;

						a { 
							@extend %current-link;
						}
					}
				}
			}

			&.level3 {
				padding-left: 2em;
				li {
					a {
						@extend %current-link;

						&:hover {
							// background-color: $moodyblue;

							a {
								color: $grey;
							}
						}
						
					}

					&:hover {
						// background-color: $moodyblue;
						a {
							color: $grey;
							font-weight: 400;
						}
					}
					
				}

			} 
		}
	}


}
}

