%current-link {
	color: $grey;
	text-transform: capitalize;
	font-weight: 200;
	// margin: 0px;
	list-style-type: none;
	font-size: .8em;
	background-image: none;
	// min-height: 70px;
	display: block;
	
}

#sub-nav {
	.equal-height & {
		height: 100%;
		ul {
			padding: 0;
			.level2 {
				li {
					&:hover{
					color: $grey;
					font-weight: 400;
					background-color: #f1f1f1;
					}
				}	
			}
			.level3 {
				li {
					border-bottom: none;
					&:hover{
					color: $grey;
					font-weight: 400;
					background-color: #f1f1f1;
					}
					a {
						padding-right: 10px;
					}
				}	
			}
			.level4 {
				li {
					a {
						font-weight: 200
					}
					&:hover{
					color: $grey;
					font-weight: 400;
					background-color: #f1f1f1;
					}
				}	
			}
			li {
				margin: 0;
				background-repeat: no-repeat;
				background-position: bottom right;
				font-weight: 200;
				list-style-type: none;
				border-bottom: #ccc solid 1px;
				text-align: right;
				padding: 13px 0px 13px 10px;
				
				&:nth-child(1) {
    				padding: 17px 0px 0px 0px;
				}
				
				a {
					color: $grey;
					padding-right: 10px;
					&:hover {
						color: $grey;
						font-weight: 400;
					}
				}
				&.current a {
					color: $grey;
					background-color: #f1f1f1;
					text-decoration: none;
				}
				&.active {
					background-color: $light-grey;
					a {
						color: $grey;
						font-weight: 400;
					}
					.level2 {
						li {
							a { 
								@extend %current-link;
								font-weight: bold;
							}
						}
					}
					.level3 {
						li {
							a { 
								@extend %current-link;
								font-weight: bold;
							}
						}
					}
				}
				&:hover {
					a {
						color: $grey;
						font-weight: 400;
						text-decoration: none;
					}
					.level2 {

						background-color: #f1f1f1;
					}
					.level3 {
						li {
							border-bottom: none;
							a { 
								@extend %current-link;
							}
						}
					}
				}

				
			}
		}
	}
}

