%current-link {
	color: $grey;
	text-transform: capitalize;
	font-weight: 200;
	// margin: 0px;
	list-style-type: none;
	font-size: .8em;
	// min-height: 70px;
	display: block;
	
}

.equal-height {
	#sub-nav {
		height: 100%;
		margin-top: 20px;
		ul {
			padding: 0;

			&.level2 {
				li {
					&:hover{
						color: $grey;
						font-weight: 400;
						background-color: #f1f1f1;
					}
				}	
			}
			&.level3 {
				li {
					&:hover{
						color: $grey;
						font-weight: 400;
						background-color: #f1f1f1;
					}
					a {
						padding-left: 20px;
					}
					// a {
					// 	padding-right: 10px;
					// }
				}	
			}
			&.level4 {
				li {
					a {
						font-weight: 200;
						padding-left: 30px;
					}
					&:hover{
						color: $grey;
						font-weight: 400;
						background-color: #f1f1f1;
					}
					&.active > a {
						font-weight: bold;
					}
				}	
			}
			li {
				
				margin: 0;
				font-weight: 200;
				list-style-type: none;
				
				text-align: left;
				&.active {
					border-left: solid 4px $orange;
					&.parent > a {
						background-image: url('img/arrow-down.png');
					}
				}
				&.parent > a {
					background-image: url('img/arrow-right.png');
					background-position: center right 6px ;
					background-repeat: no-repeat;
					padding-right: 15px;
				}
				a {
					color: $grey;
					// padding-right: 10px;
					display: block;
					//margin-right: 6px;
					padding: 10px;
					border-bottom: #ccc solid 1px;
					&:hover {
						color: $grey;
						font-weight: 400;
					}
				}
				&.current a {
					color: $grey;
					background-color: #f1f1f1;
					text-decoration: none;
					font-weight: 700;
				}
				&.active {
					background-color: $light-grey;
					a {
						color: $grey;
						font-weight: 400;
					}
					.level2 {
						li {
							a { 
								@extend %current-link;
							}
						}
					}
					.level3 {
						li {
							a { 
								@extend %current-link;
							}
						}
					}
				}
				&:hover {
					a {
						color: $grey;
						font-weight: 400;
						text-decoration: none;
					}
					.level2 {

						background-color: #f1f1f1;
					}
					.level3 {
						li {
							a { 
								@extend %current-link;
							}
						}
					}
				}

				
			}
		}
	}
}

