
$font: 'Open Sans', sans-serif;
$font-bold: 'Open Sans Bold', sans-serif;
$black: #000;
$orange: #dd8726;
$moodyblue: #085282;
$grey: #686868;
$green: #82ab45;
$white: #fff;
$brightblue: #273891;
$light-grey: #f1f1f1;
