@import 'variables';



body {
	overflow-x: hidden;
}

@import 'header-navbar';

main {
	font-family: $font;
	font-size: 18px;
	font-weight: 300;

	h1,h2,h3,h4,h5,h6 {
		font-family: $font;
	}
	
	h1 {
		color: $moodyblue;
		text-transform: uppercase;
		font-size: 2.3em;
		padding: .6em 0 .2em 0;
		font-weight: 600;
		margin-top: 0px;
	}
	
	h2 {
		font-size: 1.5em;
		line-height: 1.5em;
		color: $grey;
		text-transform: uppercase;
		font-weight: 600;
	}
	
	p {
		line-height: 1.6em;
	}
}

@import 'subnav';


#news {
	dl {
		list-style: none;
		margin-top: 20px;

		dt {
			font-weight: 100;
		}
		.news-item {
			padding-top: 10px;
			padding-bottom: 10px;
			display:block;

			&.odd {
				background-color: $light-grey;
			}
		}
	}
}

input {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: solid 1px #ccc;
}


.news-events-wrap {
	background: none repeat scroll 0 0 $green;
	padding: 1em 0 3em;


	h2.news-section-title {
		color: $white;
		font-family: "Open Sans";
		font-size: 2.5em;
		text-transform: uppercase;
		display: block;
		text-align: center;
	}

	.mosaicflow__item {
		background: none repeat scroll 0 0 $white;
		min-height: 100px;
		position: relative;
	}

	.mosaicflow__column {
		float:left;
	}
	.mosaicflow__item img {
		display:block;
		width:100%;
		height:auto;
	}

	.mosaicflow__item p {
		font-family: "open sans";
		font-size: 1.2em;
		font-weight: bold;
		margin-bottom: 0;
		padding: 0.5em 2em 1em 1em;
		text-transform: uppercase;
		line-height: 1.5;
	}

	h3.article-date {
		display: block;
		font-size: 0.6rem;
		margin: 0;
		padding: 1em 1.5em 0;
	}

	.white-text a{
		color: $white;
		text-shadow: 0 0 3px $black;
		text-decoration: none;
		display: block;
	}

	.white-text a:hover {
		color: $white;
		text-decoration: underline;
	}

	.white-text > .date-headline{
		bottom: 0;
		position: absolute;
		z-index: 99;
	}

	.gray-text {
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #ddd;
		padding: 1em 0 2em;
	}

	.gray-text a {
		color: $grey;
		text-decoration: none;
		display: block;
	}

	.gray-text a:hover {
		color: $grey;
		text-decoration: underline;
	}

	.more-news-wrap {
		text-align: center;
	}

	.more-news-and-events {
		background: none repeat scroll 0 0 $white;
		border-radius: 2px;
		color: #82ab45;
		display: inline-block;
		font-family: "open sans";
		font-weight: bold;
		margin: 1.5em;
		padding: 0.75em 3em;
		text-align: center;
		text-transform: uppercase;
	}

	.more-news-and-events:hover {
		opacity: .9;
	}
}


.quote-area {
	h1 {
		text-align: center;
	}
	.quote-section {
		color: $grey;
		font-size: 1.3em;
		line-height: 1.6em;
		img {
			width: 100%;
		}
		[class*='col-'] {
			margin: 20px 0px 40px 0px;
		}
		.quote {
			font-style: italic;
			font-weight: 600;
			padding: 20px 0px 0px 30px;
			.author {
				font-style: normal;
				font-weight: 300;
				font-size: .9em;
			}
		}
	}
}

.person-container {
	background-color: $moodyblue;
	color: $white;
	padding: 1em;
	text-align: center;
	min-height: 310px;
	margin-right: 5px;
	margin-top: 10px;
	max-width: 164px;
	.image-container {
		height: 125px;
		width: 125px;
		border-radius: 50%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100%;
		margin-left:auto;
		margin-right: auto;
		margin-bottom: .8em;
	}
	.name {
		font-size: .7em;
		font-weight: 400;
		text-transform: uppercase;
	}
	.title {
		font-size: .6em;
	}
	button {
		background-color: $white;
		color: $moodyblue;
		text-transform: uppercase;
		border-radius: 5px;
		border: none;
		padding: 10px 10px;
		margin-top: 0px;
		width: 75%;
		position: absolute;
		bottom: 20px;
		left: 20px;
		font-size: 12px;
	}
}

@import 'carousel';

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid $black;
}

.page-content {
	figure {
		margin-top: 30px;
		padding-bottom: 20px;

		figcaption.image-caption {
			font-size: .7em;
			text-align: center;
			margin-bottom: 5px;
		}
		&.pull-left {
			margin-right: 20px;
		}
		&.pull-right {
			margin-left: 20px;
		}
		&.full-width {
			margin-top: 0px;
		}
	} 
	p {
		margin: 0;
		padding-top: 10px;
	}
	ul.links {
		line-height: 2em;
		list-style: none;
		margin-left: -40px;
		li {
			a {
				color: $orange;
				font-weight: 600;
				background-image: url('../images/arrow-right-orange.png');
				background-position: center right;
				background-repeat: no-repeat;
				padding-right: 22px;

				&:hover {
					text-decoration: none;
				}
			}

		}
	}
}

@import 'section';

article {

	img {
		width: 100%;
	}

	.video-container {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px; height: 0; overflow: hidden;
	}

	.video-container iframe,
	.video-container object,
	.video-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.article-date {
		line-height: 2em;
		font-style: italics;
	}
	.article-source {
		@extend .article-date; 
	}
	button {
		border-radius: 5px;
		border: none;
		padding: 10px 20px;
		background-color: $moodyblue;
		color: $white;
		margin-top: 10px;
	}
}


.newsfeed {
	h2 {
		text-align: center;
		font-size: 2em;
	}
}

.green {
	background-color: $green;
	color: $white;

	h2 {
		color: $white;
	}
}

.orange {
	background-color: $orange;
	color: $white;
}

.programs {
	background-color: $orange;
	color: $white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 50px;

	.logo {
		border-radius: 50%;
		background-color: $white;
		width: 150px;
		height: 150px;
		padding: 30px 20px;
		margin: auto;
		margin-bottom: 10px;
	}

	h2 {
		color: $white;
		text-align: center;
		font-size: 2em;
		margin-bottom: 30px;
	}

	.equal-height {
		min-height: 200px;
	}

	.title {
		text-transform: uppercase;
		font-weight: 600;
		padding-bottom: 10px;
	}

	button {
		margin: 10px 0px 30px 0px;
		width: 100%;
		padding: 10px;
		text-transform: uppercase;
		font-weight: 600;

	}

	.description {
		min-height: 125px;
	}
}

.container-page{
	margin-left: auto;
	margin-right: auto;
	padding: 30px 15px 30px 15px; 
}

/* CUSTOM STYLES FOR QUOTE */

.blockquote-reverse {
	border-right: none;
	border-left: 0;
	color: $grey;
	font-family: $font;
	font-size: 1.429em;
	font-style: oblique;
	font-weight: 600;
	padding: 15px;
	text-align: right;
}



@import 'midnav';


/* CUSTOM STYLES FOR CONTENT */

h3,.h3 {
	color: $grey;
	font-family: $font;
	font-size: 1.5em;
	text-transform: uppercase;
}

h4,.h4 {
	color: $grey;
	font-family: $font;
	font-size: 16px;
	text-transform: uppercase;
}

p {
	color: $grey;
	font-family: $font;
	padding: 20px 0px 20px 0px;
}

@import 'footer';


@media  (min-width: 768px) {
	div.col-sm-7.five-three {
		width: 60% !important;
	}

	div.col-sm-5.five-two {
		width: 40% !important;
	}
}

@media (min-width: 768px) {
	.container-page {
		width: 750px;
	}
	.largeheader .caption {
		width: 75%;	
		font-size: 1.25em;

		.contain {
			width:540px;
		}
	}

	.carousel .caption {
		width: 75%;	
		font-size: 1.25em;

		.contain {
			width:540px;
		}
	}
	.navbar a{
		font-size: 11px;
	}
	.thumbnail-container {
		height: 140px;
	}
	.carousel-indicators {
		top: 615px;

		li, .active {
			height: 100px;
			width: 130px;
			margin-left: 20px;
		}
	}

}
@media (min-width: 992px) {
	.container-page {
		width: 970px;	
	}
	.largeheader .caption .contain {
		width: 550px;
	}
	.largeheader .caption {
		width: 60%;
		font-size: 1.5em;
	}
	.carousel .caption .contain {
		width: 550px;
	}
	.carousel .caption {
		width: 60%;
		font-size: 1.5em;
	}
	.navbar a{
		font-size: 14px;
	}
	.thumbnail-container {
		height: 200px;
	}
	.carousel-indicators {
		top: 635px;
	}
	.carousel-indicators li,.carousel-indicators .active {
		height: 110px;
		width: 160px;
		margin-left: 35px;
	}

}

@media (min-width: 1200px) {
	.container-page {
		width: 1170px;
	}
	.largeheader .caption .contain {
		width: 650px;
	}
	.largeheader .caption {
		width: 59%;
		font-size: 2em;
	}
	.carousel .caption .contain {
		width: 650px;
	}
	.carousel .caption {
		width: 59%;
		font-size: 2em;
	}
	.carousel-indicators li,.carousel-indicators .active {
		height: 115px; 
		margin-left: 50px;
	}
}

@media (max-width: 768px){
	.thumbnail-container {
		display: none;
	}
	.programs {
		.description {
			min-height: 95px;
		}
	}
	.col-sm-4 {
		.equal-height {
			margin-bottom: 40px;
		}
		.thumbnail .image-container img { 
			width: 100%; 
			max-height: none; 
		} 
	}
	main h1{
		font-size: 1.5em;
	}
	
}
@import 'breadcrumbs';
@import 'news-feed';
@import 'resources';